.idcard img{
float: left;
display: block;
border-radius: 10px;
margin: 10px 25px 10px 10px;
width: 128px;
height: 128px;

}
.idcard{
 
  border: 1px solid #d6d6d6;
  margin: 10px auto;
  width: 500px;
  height: 150px;
  text-align: left;
  line-height: 8px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.1);
}

.idcard p:first-of-type{
  margin-top: 22px;
}