@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

h1{
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
  font-weight: bold;
  color: #ff3300;
  margin-top: 40px;
}

